<h1 mat-dialog-title *ngIf="!data?.question?.broadcast?.videoUrl">Suggest YouTube video url</h1>
<h1 mat-dialog-title *ngIf="data?.question?.broadcast?.videoUrl">Suggest YouTube time</h1>

<mat-form-field>
  <input
    matInput
    [formControl]="manualUrl"
    placeholder="Video URL"
    pattern="https:\/\/(((youtube\.com|www\.youtube\.com)\/watch\?v=[a-zA-Z0-9_-]{10,})|(youtu.be\/[a-zA-Z0-9_-]{10,})).+"
  >
  <mat-hint *ngIf="!data?.question?.broadcast?.videoUrl">The link to the YouTube video (e.g. https://youtu.be/yxzYXZ)</mat-hint>
  <mat-hint *ngIf="data?.question?.broadcast?.videoUrl">The link was detected automatically and can't be changed.</mat-hint>
  <mat-error>
    The link must be in the following format:
    <br>https://youtu.be/yxzYXZ or https://www.youtube.com/watch?v=yxzYXZ
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="data?.question?.broadcast?.videoUrl || (manualUrl.valid && manualUrl.value && !(manualUrl.value|hasTimecode))">
  <input
    matInput
    [formControl]="time"
    placeholder="Time"
    pattern="^[0-9]{1,2}(:[0-9]{1,2}(:[0-9]{1,2})?)?$"
  >
  <mat-hint>The time the question has been answered (e.g. 12:44)</mat-hint>
  <mat-error>
    The time must be in the following format:
    <br>01:13, 1:12:31, 33, etc.
  </mat-error>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">
    CANCEL
  </button>
  <button mat-button (click)="open()" [disabled]="!url">
    TEST
  </button>
  <button mat-button (click)="submit()" [disabled]="!url" color="primary">
    SUBMIT
  </button>
</div>