<div class="badge" *ngIf="!detailed">
  <button mat-icon-button [routerLink]="['online']">
    <mat-icon>group</mat-icon> <span>{{ onlineCounter }}</span>
  </button>
</div>

<mat-card *ngIf="detailed">
  <mat-card-title *ngIf="onlineUsers.length === 1">One user is online</mat-card-title>
  <mat-card-title *ngIf="onlineUsers.length !== 1">{{ onlineUsers.length }} users are online</mat-card-title>

  <mat-list>
    <a *ngFor="let user of onlineUsers" class="online-row" [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]">
      <mat-list-item>
        <img
          mat-list-avatar
          avatar
          meditated-recently
          [username]="user.username"
          [token]="user.avatarImageToken"
          [size]="40"
        >
        <h3 mat-line>
          <b>{{ user.name }}</b>
          <flag [countryCode]="user.country"></flag>
        </h3>
      </mat-list-item>
    </a>
  </mat-list>
</mat-card>
