<mat-card>
  <mat-card-title>Meeting Setting</mat-card-title>
  <p>This page is for setting identifiers that will be replaced by a certain value in the meeting chat (only if the sender is an administrator). For example, if the id 'test' is set to the value 'works', then writing '@test' in the chat will be replaced by 'works' (the @-symbol is necessary before the id when typing in chat!). Please enter the identifier without the prefix '@' in the form below.</p>

  <form (submit)="submit($event)">
    <mat-form-field class="fill">
      <input
        matInput
        [(ngModel)]="newKey"
        name="newKey"
        required
        placeholder="Identifier"
        type="text"
      >
    </mat-form-field>
    <mat-form-field class="fill">
      <input
        matInput
        [(ngModel)]="newValue"
        name="newKey"
        required
        placeholder="Value"
        type="text"
      >
    </mat-form-field>
    <button
      mat-raised-button
      mat-button
      color="primary"
      type="submit"
    >
      <mat-icon>send</mat-icon> Add
    </button>
  </form>

  <table *ngIf="settings && settings.meetingAutocompletions">
    <tr>
      <th>Identifier</th>
      <th>Value</th>
    </tr>
    <tr *ngFor="let repl of settings.meetingAutocompletions; let i = index">
      <td><b>@</b>{{ repl[0] }}</td>
      <td>{{ repl[1] }}</td>
      <td>
        <mat-icon style="color: red; cursor: pointer;" (click)="removeItem(i)">delete</mat-icon>
      </td>
    </tr>
  </table>
</mat-card>
