body, html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.55;
}

/*
 * General helper
 */
.app-wrapper
  height: 100%

.padding
  padding: 5px

mat-spinner.in-button-spinner
  display: inline-block
  vertical-align: middle !important
  margin: auto

.error
  color: red

.loader
  text-align: center

.mat-spinner
  margin-top: 20px
  margin-bottom: 20px
  margin-left: auto
  margin-right: auto

/**
 * Fake tabs
 */

.tabs a
  -webkit-flex: 1
  flex: 1
  padding-bottom: 10px
  margin-bottom: -9px
  border-bottom: 0
  border-radius: 0

.tabs .highlight
  margin-bottom: -13px
  border-bottom: 4px solid white

.no-padding
  padding: 0

html, body
  height: 100%
  background: #F4FAFA

/**
 * Sidenav
 */

.mat-toolbar-single-row.static-toolbar
  display: block
  position: static

mat-sidenav
  width: 300px

mat-sidenav-container > .mat-sidenav-content
  display: flex !important
  flex-direction: column

mat-sidenav mat-icon
  margin-right: 10px

.smaller-icon
  margin-left: 10px
  opacity: .5

mat-list-item[disabled]
  display: block
  opacity: .4
  cursor: move

/* remove line on some machines */
home
  margin-top: -2px

/**
 * Toolbar
 */
.mat-toolbar-single-row.navbar
  padding-left: 0
  padding-right: 0

  @media screen and (max-width: 400px)
    font-size: 14px

/**
 * Flexbox helper
 */
.version-number
  font-size: 12px
  margin-left: 7px
  margin-top: 2px

.flexbox-parent, .mat-content, home, testimonials, meeting, .mat-tab-body-wrapper, .mat-tab-body, .mat-tab-group
  width: 100%
  height: 100%

  display: -webkit-flex !important
  display: flex !important
  flex-direction: column

  justify-content: -webkit-flex-start
  justify-content: flex-start
  align-items: stretch
  align-content: stretch

  background: rgba(255, 255, 255, .1)

.flexbox-item-grow
  -webkit-flex: 1
  flex: 1 1 auto

.fill-area
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  flex-direction: row
  justify-content: -webkit-flex-start
  justify-content: flex-start
  align-items: stretch
  align-content: stretch

.fill-area.list
  -webkit-flex-direction: column
  flex-direction: column

.fill-area-content
  overflow: auto

.fill
  -webkit-flex: 1 1 auto
  flex: 1 1 auto

.flex
  display: -webkit-flex
  display: flex

.flex-center
  align-items: center

.flex-row
  -webkit-flex-direction: row
  flex-direction: row

.home
  -webkit-flex: 1
  flex: 1

mat-content
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: column
  flex-direction: column
  height: 100%

mat-icon.icon-fix
  margin-left: 8px

.mat-snack-bar-container.error-snackbar
  background: red;
  .mat-button-wrapper
    color: white
