<div *ngIf="!notFound">
  <div class="center" *ngIf="profile">
    <img 
      avatar 
      class="profile-img" 
      [username]="profile.username"
      [token]="profile.avatarImageToken"
    >
    <h3>{{ profile.name }} <small>@{{ profile.username }}</small></h3>

    <badge
      *ngIf="consecutiveDays && consecutiveDays.badges > 0 && (!profile.hideStats || profile._id === (userId$ | async))"
      [numberBadges]="consecutiveDays.badges">
    </badge>
  </div>

  <mat-card *ngIf="profile">
    <!-- User Edit Button -->
    <button
      mat-fab
      color="accent"
      [routerLink]="['/profile']"
      *ngIf="profile && profile._id === (userId$ | async)"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <!-- Admin Edit Button -->
    <button
      mat-fab
      color="accent"
      [routerLink]="['/admin/users', profile._id]"
      *ngIf="profile && (admin$ | async)"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <!-- Admin Delete Button -->
    <button
      mat-fab
      class="left-fab"
      color="warn"
      (click)="delete()"
      *ngIf="profile && (admin$ | async)"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <blockquote *ngIf="profile.description">
      {{ profile.description }}
    </blockquote>

    <table>
      <tr *ngIf="profile.website">
        <th>Website</th>
        <td [innerHTML]="escape(profile.website)|linky"></td>
      </tr>
      <tr *ngIf="profile.local.email">
        <th>Email</th>
        <td>{{ profile.local.email }}</td>
      </tr>
      <tr *ngIf="profile.country">
        <th>Country</th>
        <td>
          <flag [countryCode]="profile.country"></flag>
        </td>
      </tr>
    </table>

    <offline-meditation
      *ngIf="profile && profile._id === (userId$ | async)"
      (reload)="loadChart()"
      class="center"
    ></offline-meditation>
  </mat-card>

  <mat-card *ngIf="!profile" class="loader">
    <mat-spinner></mat-spinner> Loading profile...
  </mat-card>
</div>

<mat-card *ngIf="profile && profileStats && (!profile.hideStats || profile._id === (userId$ | async))">
  <h3>General Statistics</h3>
  <mat-chip-list *ngIf="profileStats">
    <mat-chip color="primary" selected="true">{{ profileStats.countOfSessions }} sessions</mat-chip>
    <mat-chip color="primary" selected="true">{{ profileStats.total }} minutes of meditation</mat-chip>
    <mat-chip color="primary" selected="true">{{ profileStats.walking }} of walking</mat-chip>
    <mat-chip color="primary" selected="true">{{ profileStats.sitting }} of sitting</mat-chip>
    <mat-chip color="primary" selected="true">{{ profileStats.avgSessionTime }} minutes average session length</mat-chip>
  </mat-chip-list>

  <h3>Consecutive Days</h3>
  <mat-chip-list *ngIf="profileStats">
    <mat-chip color="primary" selected="true">{{ consecutiveDays.current }} currently</mat-chip>
    <mat-chip color="primary" selected="true">{{ consecutiveDays.total }} total</mat-chip>
    <mat-chip color="primary" selected="true">{{ consecutiveDays.max }} maximum</mat-chip>
  </mat-chip-list>

  <h3>Graphs</h3>
  <profile-charts
    *ngIf="chartData"
    [data]="chartData"
    [user]="profile"
  ></profile-charts>
</mat-card>

<mat-card *ngIf="notFound">
  <mat-card-title>Profile not found!</mat-card-title>

  <p>The requested profile cannot be found.</p>
</mat-card>
