<div *ngIf="loading" class="loader">
  <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!loading && !meeting">
  <mat-icon>access_time</mat-icon>
  <p>No appointment scheduled for you right now</p>
</mat-card>

<mat-card *ngIf="!loading && meeting && !meeting.initiated">
  <p>By clicking on "initate" you can start the appointment meeting.</p>
  <button
    mat-raised-button
    color="primary"
    style="min-width: 200px;"
    [disabled]="loadingInitiate"
    (click)="initiate()"
  >
    <mat-spinner
      *ngIf="loadingInitiate"
      [diameter]="22"
      [strokeWidth]="2"
      class="in-button-spinner">
    </mat-spinner>
    Initiate
  </button>

  <p class="error" *ngIf="initiateError">
    An unexpected error occurred. Please try again or make a manual Hangouts call as described in the wiki if this error persists.
  </p>
</mat-card>

<div *ngIf="!loading && meeting && meeting.initiated" class="flexbox-parent" style="height: 100%;">
  <div class="info-banner">
    <a [href]="'https://appear.in/' + meeting.token" target="_blank">
      <button mat-raised-button color="primary" style="margin-right: 10px;">
        <mat-icon>videocam</mat-icon>
        appear.in
      </button>
    </a>
    <div id="hangout-button"></div>
    <span>Please stand by or use appear.in or Google Hangouts if you have trouble connecting or nobody shows up.</span>
    <span class="fill"></span>
    <button mat-mini-fab color="warn" *ngIf="admin$ | async" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div #jitsiWrapper class="flexbox-parent"></div>
</div>
