<p>Welcome {{userName}},</p>
<p>In order to activate your new account, please verify your email address by clicking on the link below.</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="{{activationLink}}" target="_blank">Activate Account</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>If you have problems logging in or experience other technical issues, please send an email to <a href="mailto:it@sirimangalo.org">it@sirimangalo.org</a>.</p>
