<mat-list-item>
    <img 
      [routerLink]="meditation.user.username ? ['/profile', meditation.user.username] : ['/profile/id', meditation.user._id]" 
      mat-list-avatar 
      avatar 
      [username]="meditation.user.username"
      [token]="meditation.user.avatarImageToken" 
      [size]="40"
    >
    <h3 mat-line>
      <b class="meditation-name"><a [routerLink]="meditation.user.username ? ['/profile', meditation.user.username] : ['/profile/id', meditation.user._id]">{{ meditation.user.name }}</a></b>

      <flag [countryCode]="meditation.user.country"></flag>

      <span class="fill"></span>
      <span
        class="meditation-time"
        *ngIf="meditation.walkingLeft + meditation.sittingLeft > 0"
      >
        {{ meditation.walkingLeft + meditation.sittingLeft }}m left
      </span>
    </h3>
    <p mat-line>
      <span class="meditation-text">
        walking
        {{ meditation.walking }}m,

        sitting
        {{ meditation.sitting }}m
      </span>
    </p>
    <span class="status">
      <img
        title="Currently sitting"
        src="/assets/img/sitting.svg"
        *ngIf="meditation.status === 'sitting'"
      >
      <mat-icon
        *ngIf="meditation.status === 'walking'"
        title="Currently walking"
      >
        directions_walk
      </mat-icon>
    </span>
    <span
      class="like-button"
      [class.smaller-like-button]="meditation.numOfLikes > 9"
      title="Received anumodana. Can be interpreted as a thumbs up."
    >
      <span *ngIf="!meditation.sendingLike" class="like-wrapper">
        <img src="assets/img/left_hand.png" class="left-hand">
        <span *ngIf="meditation.numOfLikes" class="like">{{ meditation.numOfLikes }}</span>
        <img src="assets/img/right_hand.png" class="right-hand">
      </span>

    </span>
</mat-list-item>
